# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output (on garde /docs donc pas à ignorer)
dist/

# Optional: IDE configs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# dotenv / local config files
.env*
!.env.example

# local coverage reports
coverage/

# Mac + Linux temp files
*.swp
*.swo

# eslint cache
.eslintcache